registry=https://registry.npmjs.org/
@axilla:registry=https://swdevtfs.fan2customer.com/Ublion/_packaging/Axilla.Npm/npm/registry/


; begin auth token
//swdevtfs.fan2customer.com/Ublion/_packaging/Axilla.Npm/npm/registry/:always-auth=true
//swdevtfs.fan2customer.com/Ublion/_packaging/Axilla.Npm/npm/registry/:username=Ublion
//swdevtfs.fan2customer.com/Ublion/_packaging/Axilla.Npm/npm/registry/:_password=cGN6czM2cTRzcmtkYWFya2c3dHl3dDN5MmF4b3J2d3hjemZod2R2eW40cHliamI3bjY2YQ==
//swdevtfs.fan2customer.com/Ublion/_packaging/Axilla.Npm/npm/registry/:email=npm requires email to be set but doesn't use the value
//swdevtfs.fan2customer.com/Ublion/_packaging/Axilla.Npm/npm/:username=Ublion
//swdevtfs.fan2customer.com/Ublion/_packaging/Axilla.Npm/npm/:_password=cGN6czM2cTRzcmtkYWFya2c3dHl3dDN5MmF4b3J2d3hjemZod2R2eW40cHliamI3bjY2YQ==
//swdevtfs.fan2customer.com/Ublion/_packaging/Axilla.Npm/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
